extends ../layouts/app.pug
block content
    h1 Edit Avatar
    img(src=user.avatarUrl, alt="")
    form.mt-3(action="" method="post" enctype="multipart/form-data")
        .form-group.mb-4 
            label.d-block Avatar
            input#avatar(type='file' name='avatar')
        button.btn.btn-success(type='submit') Edit